.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 27px;
  color: var(--white);
  height: 132px;

  h4 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .btn-install {
    width: 153px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--cello);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-right: 17px;
    }
  }
}
