.card-wrapper {
  margin: 40px 25px;
  overflow: hidden;
  color: var(--white);
  display: flex;
  flex-direction: column;
  background-color: var(--dark-mirage);
  border-radius: 30px;

  .card-banner {
    width: 100%;
    aspect-ratio: 92/43;
  }

  .card-info {
    padding: 0 20px;
  }

  p {
    opacity: 0.5;
  }

  p, .divide {
    margin: 18px 0 0;
  }

  .price {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    h2 {
      font-size: 40px;
      font-weight: 700;
    }

    img {
      width: 40px;
    }
  }
}

@media only screen and (min-width: 1008px) {
  .card-wrapper {
    margin: 40px 68px;
    flex-direction: row;

    .card-banner {
      border-bottom-left-radius: 30px;
      max-width: 600px;
    }

    .card-info {
      flex: 1;
      padding: 53px 0 53px 53px;

      h3 {
        font-size: 28px;
      }

      p {
        font-size: 20px;
      }
    }

    .price {
      flex-direction: column;
      align-items: center;
      padding-right: 34px;

      h2 {
        font-size: 48px;
      }

      img {
        margin-top: 47px;
      }
    }
  }
}